* {
    margin: 0;
    padding: 0;
    background-color: rgb(83, 83, 83);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background-color: aliceblue;
    padding: 20px;
    width: 50%;
    height: 0 auto;
    border-radius: 8px;
    margin-bottom: 30px;
}

.header p {
    background-color: transparent;
}